.list-bullets {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* min-width: 0; */
}

.ellipsis-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ellipsis-box-width {
  min-width: 0;
  flex-basis: 28%;
  display: flex;
}

.item-content {
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  flex-basis: 25%;
}

.label-size {
  flex-basis: 100%;
  text-align: center;
}

.ellipsis {
  max-width: 98%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: fit-content;
  white-space: normal;
}
