.list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booklist-card {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: 20%;
  margin: 1rem;
  flex-grow: 10;
  flex-shrink: 10;
}

.booklist-box-width {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  flex-basis: 28%;
  border: 1px solid lightgrey;
  flex-grow: 10;
  flex-shrink: 10;
}
